// overflow map
$overflow: (
  auto: auto,
  hidden: hidden,
  scroll: scroll,
  visible: visible
);

// loop over the overflow map
@each $key, $value in $overflow {
  .overflow-#{$key} {
    overflow: #{$value};
  }
}